ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none !important;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

button, a, input, select, textarea {
  outline: none !important;
}

p {
  padding: 0;
  margin: 0;
}

textarea {
  min-height: 110px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-size: unset;
  line-height: unset;
  margin: 0;
  padding: 0;
}

.fs-8 {
  font-size: 8px;
}

.fs-10 {
  font-size: 10px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-17 {
  font-size: 17px;
}

.fs-18 {
  font-size: 18px;
}

.fs-19 {
  font-size: 19px;
}

.fs-20 {
  font-size: 20px;
}

.fs-21 {
  font-size: 21px;
}

.fs-22 {
  font-size: 22px;
}

.fs-23 {
  font-size: 23px;
}

.fs-24 {
  font-size: 24px;
}

.fs-25 {
  font-size: 25px;
}

.fs-28 {
  font-size: 28px;
}

.fs-30 {
  font-size: 30px;
}

.fs-32 {
  font-size: 32px;
}

.fs-33 {
  font-size: 33px;
}

.fs-39 {
  font-size: 39px;
}

.fs-40 {
  font-size: 40px;
}

.fs-45 {
  font-size: 45px;
}

.fs-80 {
  font-size: 80px;
}

.color_white {
  color: #ffffff;
}

.color_red {
  color: #ff0000;
}

.bg_white {
  background: #ffffff;
}

.bg_red {
  background: #ff4646;
}

.bg_eb {
  background: #ebebeb;
}

.bg_black {
  background: #000000;
}

.row-7 {
  margin-left: -7px;
  margin-right: -7px;
}

.row-7>div {
  padding-left: 7px;
  padding-right: 7px;
}

.row-5 {
  margin-left: -5px;
  margin-right: -5px;
}

.row-5>div {
  padding-left: 5px;
  padding-right: 5px;
}

.row-10 {
  margin-left: -10px;
  margin-right: -10px;
}

.row-10>div {
  padding-left: 10px;
  padding-right: 10px;
}

.mb_30 {
  margin-bottom: 30px;
}

.mb_20 {
  margin-bottom: 20px;
}

.mr_20{
  margin-right: 20px;
}

.mr_15{
  margin-right: 15px;
}

.mr_10{
  margin-right: 10px;
}

.mr_5{
  margin-right: 5px;
}

.breadcrumb li {
  position: relative;
}

.breadcrumb li:last-child a {
  pointer-events: none;
}
.breadcrumb-item+.breadcrumb-item::before{
  content:'\F27B';
  font-family: 'bootstrap-icons';
}

.color_gray {
  color: #888888;
}

input[type=date], input[type=datetime-local], input[type=month], input[type=time] {
  max-width: 250px;
}

.bg_white {
  background: #ffffff;
}

.c-img {
  display: block;
  position: relative;
  padding-top: 100%;
}

.c-img img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.smooth {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.modal-open .modal {
  background: #000000db;
}

.cursor_pointer{
  cursor: pointer;
}

.radius_5{
  border-radius: 5px;
}

.h_100vh{
  height: 100vh !important;
}

.font-italic{
  font-style: italic !important;
}
