@font-face {
	src: url('../fonts/Roboto-Medium.ttf');
	font-family: 'Robbo';
	font-display: swap;
}

@font-face {
	src: url('../fonts/Roboto-Bold.ttf');
	font-family: 'Robbo-bold';
	font-display: swap;
}

body {
	font-family: 'Robbo';
	font-size: 13px;
	color: #263544;
	height: 100%;
	background: #f5f8fa;
}


a{
	color: #263544;
}

a:hover{
	color: #538ec9;	
}

.font_bold{
	font-family: 'Robbo-bold';
}

.header{
	position: fixed;
	z-index: 2;
	width: 100%;
	top: 0;
	left: 0;
	padding: 5px 10px;
}

.logo_dashboard {
	width: 165px;
}

.logo_dashboard img {
	max-height: 40px;
}

.color_main {
	color: #263544;
}

.bg_main {
	background: #263544;
}

.button_sidebar {
	border-radius: 3px;
	font-size: 15px;
}

.button_sidebar:hover {
	background: #4c5c6c;
}

.header {
	box-shadow: 1px 1px 3px #263544;
}

.avatar_img{
    display: inline-block;
    border: 1px solid #00a300;
    border-radius: 50%;
    overflow: hidden;
}

.avatar_img img{
	width: 40px;
    height: 40px;
	object-fit: fill;
}

.sidebar_menu{
	position: fixed;
	z-index: 1;
	left: 0;
	top: 52px;
	width: 0;
	height: 100%;
	transition: all .1s;
	overflow: auto;
}

.sidebar_menu.show{
	width: 175px;
}

.sidebar_menu ul li{
	position: relative;
	margin-left: 5px;
}

.sidebar_menu ul li a{
	display: block;
	padding: 7px;
}

.sidebar_menu ul li:not(:last-child){
	border-bottom: 1px solid #20303e;
}

.sidebar_menu li ul li a{
	background: #09336a;
    color: #ffffff;
    transition: all .2s;
}

.sidebar_menu li ul li a:hover{
	color: #263544;
	background: #ffffff;
}


.sidebar_menu li i.right_icon{
	position: absolute;right: 10px;
	top: 10px;
}

.sidebar_menu li ul{
	display: none;
}
.profile_menu{
	position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: 7px;;
}

.profile_menu li a{
	display: block;
	padding: 5px 15px;
}

.profile_menu li:not(:last-child){
	border-bottom: 1px solid #20303e;
}

.form-control{
	font-size: 13px;
    padding: 5px 10px;
    height: 32px;
    display: flex;
    align-items: center;
}

select.form-control{
	text-align: center;
	cursor: pointer;
}

.main_button{
	padding: 5px 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 50px;
	min-height: 32px;
	box-shadow: 1px 1px 3px rgb(61, 60, 60);
}

.main_button:hover{
	background: #4e77a1;
}

.main_content{
	font-size: 14px;;
}
