@font-face {
	src: url('../fonts/Roboto-Medium.ttf');
	font-family: 'Robbo';
	font-display: swap;
}

@font-face {
	src: url('../fonts/Roboto-Bold.ttf');
	font-family: 'Robbo-bold';
	font-display: swap;
}

body {
	font-family: 'Robbo';
	font-size: 14px;
	color: #263544;
}

a{
	color: #263544;
}

a:hover{
	color: #538ec9;	
}

.header{
	position: fixed;
	z-index: 2;
	width: 100%;
	top: 0;
	left: 0;
	padding: 5px 10px;
}

.logo_dashboard {
	width: 240px;
}

.logo_dashboard img {
	max-height: 40px;
}

.color_main {
	color: #263544;
}

.bg_main {
	background: #263544;
}

.button_sidebar {
	border-radius: 3px;
	font-size: 25px;
}

.button_sidebar:hover {
	background: #4c5c6c;
}

.header {
	box-shadow: 1px 1px 3px #263544;
}

.avatar_img{
    display: inline-block;
    border: 1px solid #00a300;
    border-radius: 50%;
    overflow: hidden;
}

.avatar_img img{
	width: 40px;
    height: 40px;
	object-fit: fill;
}

.side_bar_menu{
	position: fixed;
	z-index: 1;
	left: 0;
	top: 52px;
	width: 250px;
	height: 100%;
}

.side_bar_menu ul li{
	margin: 0 10px;
}

.side_bar_menu ul li a{
	display: block;
	padding: 7px;
    border-bottom: 1px solid #ffffff;
}
