.search_name_input{
	border:none;
    height: 32px;
    min-width: 250px;
    padding: 0 10px;
    background: #f5f8fa;
}

.search_name_button{
    height: 32px;
    display: flex;
    align-items: center;
    width: 50px;
    justify-content: center;
    font-size: 15px;
}

.search_name_button:hover{
    background: #4e77a1;
}

.find_name_input{
    border-radius: 5px;
    overflow: hidden;
}

.filter_label{
    width: -webkit-fill-available;
	height: 32px;
}
.table_check_input{
    width: 16px;
    height: 16px;
    border-radius: 5px;
    border: 0;
    background-color: #f5f8fa;
    background-size: 60% 60%;
}