.search_name_input{
	border:none;
    height: 32px;
    min-width: 250px;
    padding: 0 10px;
    background: #f5f8fa;
}

.search_name_button{
    height: 32px;
    display: flex;
    align-items: center;
    width: 50px;
    justify-content: center;
    font-size: 15px;
}

.search_name_button:hover{
    background: #4e77a1;
}

.find_name_input{
    border-radius: 5px;
    overflow: hidden;
}

.filter_label{
    width: -webkit-fill-available;
	height: 32px;
}
.table_check_input{
    width: 14px;
    height: 14px;
}

.data_image_view{
    text-align: center;
}

.data_image_view img{
    max-width: 80px;
    max-height: 50px;
    object-fit: cover;
    width: 100%;
}

  /* checkbox style */
.checkbox_button .checkbox_label {
    display: block;
    width: 45px;
    height: 25px;
    cursor: pointer;
    position: relative;
    margin: auto;
}

.checkbox_label input[type="checkbox"] {
    display: none;
}

.checkbox_label input[type="checkbox"]:checked+.toggler-slider {
    background-color: #31e75f;
}

.checkbox_label .toggler-slider {
    background-color: #ccc;
    position: absolute;
    border-radius: 100px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.checkbox_label .toggler-knob {
    position: absolute;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.checkbox_label input[type="checkbox"]:checked+.toggler-slider .toggler-knob {
    left: calc(100% - 19px - 3px);
}

.checkbox_label .toggler-knob {
    width: calc(25px - 6px);
    height: calc(25px - 6px);
    border-radius: 50%;
    left: 3px;
    top: 3px;
    background-color: #fff;
}

/* end checkbox style */

.function_group_btn li a, .function_group_btn li span{
    padding: 5px 10px;
    display: block;
    cursor: pointer;
    text-align: left;
}

.function_group_btn li:not(:last-child) a, .function_group_btn li:not(:last-child) span{
    border-bottom: 1px solid #20303e;
}

.function_group_btn li:hover a, .function_group_btn li:hover span{
    background-color: #4e77a1;
    color:#fff
}

.function_group_btn{
    position: absolute;
    width: 100%;
    left: 0;
    top:100%;
    z-index: 2;
}